body { 
    background-color: rgb(97, 40, 219);






}

h1 {
     background-color: rgb(85, 231, 62);


 
}
p {
    font-size: 60px;
    
    margin: 40px;

    padding: 30 px;

    font-family: 20px;


}

ol {

font-size: 40px;





}

